<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css" >
    <title>Hello Word</title>
    <!-- <script type="module" src="index.mjs"></script> -->
  </head>
  <body style="background-color:tan">
    <main class="grid_center p-2" style="background-color:white">
      {blog_content}
    </main>
    <footer class="text-sm text-center">
      Some copyright info or perhaps some author info for an &lt;article&gt;?
    </footer>
  </body>
</html>
